<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Add Job Role</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </meta>
</head>

<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Add Job Role</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="form" class="mt-4">
            <div class="container">
                <p>Enter Job Role Details</p>
                {% if errormessage %}
                <div class="alert alert-danger" role="alert">
                    {{errormessage}}
                    </div>
                    {% endif %}
                <form action="/add-jobrole" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Job Role Name" value="{{name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="specification">Specification</label>
                        <input type="text" class="form-control" id="specification" name="specification" placeholder="Enter Job Role Specification" value="{{specification}}" required>
                    </div>
                    <!-- <div class="form-group">
                        <label for="bandId">Band</label>
                        <input type="number" min="1" step="any" class="form-control" id="bandId" name="bandId" placeholder="Enter Job Role Band" value="{{bandId}}" required>
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="capabilityId">Capability</label>
                        <input type="number" min="1" step="any" class="form-control" id="capabilityId" name="capabilityId" placeholder="Enter Job Role Capability" value="{{capabilityId}}" required>
                    </div> -->

<!-- testing this out below -->
                    <div class="form-group">
                        <label for="capabilityId">Capabilities</label>
                    <select class="form-select" aria-label="Default select example" id="capabilitySelect" name="capabilityId" required>
                        <option selected value="">Select a Capability</option>
                        {% for capability in capabilitys %}
                        <option value="{{ capability.id }}">{{ capability.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
<!-- end of test section -->
<!-- testing this out below -->
                    <div class="form-group">
                        <label for="bandId">Band</label>
                            <select class="form-select" aria-label="Default select example" id="bandSelect" name="bandId" required>
                            <option selected value="">Select a Band</option>
                        {% for band in bands %}
                        <option value="{{ band.id }}">{{ band.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
<!-- end of test section -->

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
                <!-- <h1>Testing Band Service</h1>
                <section id="products" class="mt-4">
                    <h2>Bands</h2>
                    {% if bands and bands.length > 0 %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for band in bands %}
                            <tr>
                                <td>{{ band.id }}</td>
                                <td>{{ band.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    There are no bands.
                    {% endif %}
                </section> -->
            </div>
            
        </section>
    </main>
    <script>
        src="public/script.js"
    </script>
</body>

</html>

