<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Edit Job Role</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </meta>
</head>

<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id = "header">Edit Job Role</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        {% if errormessage %} 
            <div class="text-danger">{{ errormessage }}</div> 
        {% endif %}
        <form method="post" action="/job_roles/{{ jobRole.id }}">
            <div class="form-group">
                <label for="name">Job Role Name: </label> 
                <input type="text" class="form-control" id="name" name="name" value="{{ jobRole.name }}" required>
            </div>
            <div class="form-group">
                <label for="specification">Job Role Specification: </label> 
                <textarea class="form-control" id="specification" name="specification" rows="4" required>{{ jobRole.specification }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Updated Job Role</button>
        </form>
    </main>
    <script>
        src="public/script.js"
    </script>
</body>
</html>