<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>View Job Roles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </meta>
</head>

<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="header">View Job Roles</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        {% if errormessage %} 
            <div id="view-job_roles-error" class="text-danger">{{ errormessage }}</div> 
        {% endif %}
        <section id="products" class="mt-4">
            <h2 id="jobs">Jobs</h2>
            {% if jobRoles and jobRoles.length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" id = "name">Name</th>
                        <th scope="col" id = "specification">Specification</th>
                        <th scope="col" id = "capability">Capability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jobRole in jobRoles %}
                    <tr>             
                        <td><a href='/job_roles/{{ jobRole.id }}'>{{ jobRole.name }}</a></td>
                        <td>{{ jobRole.specification}}</td>
                        <td>{{ jobRole.capability}}</td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            There are no jobs.
            {% endif %}
        </section>
    </main>
    <script>
        src="public/script.js"
    </script>
</body>

</html>
</html>