<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>View Capabilities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </meta>
</head>

<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>View Capabilities</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        {% if errormessage %} 
            <div id="view-capabilities-error" class="text-danger">{{ errormessage }}</div> 
        {% endif %}
        <section id="products" class="mt-4">
            <h2>Capabilities</h2>
            {% if capabilities and capabilities.length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Job Role</th>
                        <th scope="col">Capability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for capability in capabilities %}
                    <tr>
                        <td>{{ capability.roleName }}</td>
                        <td>{{ capability.capability }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            There are no capabilities.
            {% endif %}
        </section>
        <div class="mt-2">
            <a href='/job_roles/' class="btn btn-primary">Back to job roles</a>
        </div>
    </main>
    <script>
        src="public/script.js"
    </script>
</body>

</html>