<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>View Band Levels</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </meta>
</head>

<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>View Band Levels</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        {% if errormessage %} 
            <div id="view-job_roles-error" class="text-danger">{{ errormessage }}</div> 
        {% endif %}
        <section id="products" class="mt-4">
            <h2>Jobs</h2>
            {% if bandLevels and bandLevels.length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Band Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bandLevel in bandLevels %}
                    <tr>
                        <td>{{ bandLevel.roleName }}</td>
                        <td>{{ bandLevel.bandLevel}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            There are no jobs.
            {% endif %}
        </section>
    </main>
    <script>
        src="public/script.js"
    </script>
</body>

</html>