<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Search results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="specificationHeader">Specification</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="specificationSection" class="mt-4">
            {% if jobRole %}
            <h2 id = "name">Name</h2>
            {{ jobRole.name }}
            <h2 id = "specification">Specification</h2>
            <td><a href="{{ jobRole.specification}}">Link</a></td>
           
            
         
            {% else %}
            Could not find Specification.
            {% endif %}
        </section>
        <div class="mt-2">
            <a href='/job_roles/' class="btn btn-primary" id="backToSalesEmployeeButton">Back to sales employees</a>
        </div>
    </main>
</body>

</html>